! special
*.foreground:   #d5d5d5
*.background:   #202020
*.cursorColor:  #d5d5d5

! black
*.color0:       #2d2d2d
*.color8:       #969696

! red
*.color1:       #c23a4e
*.color9:       #cc6666

! green
*.color2:       #2e985c
*.color10:      #68bd84

! yellow
*.color3:       #d77f41
*.color11:      #f0c674

! blue
*.color4:       #3da4cc
*.color12:      #84cbd0

! magenta
*.color5:       #8739ae
*.color13:      #b294bb

! cyan
*.color6:       #1da47f
*.color14:      #8abeb7

! white
*.color7:       #c5c8c6
*.color15:      #ffffff


!urxvt

URxvt*scrollBar: false
URxvt.font: xft:Fira Code:size=6, xft:Noto Mono:size=6
URxvt.letterSpace: -1
URxvt.visualBell:true
URxvt.fading: 40

!color
URxvt.depth: 32
URxvt.background: [90]#202020

rofi.font: Noto Sans 18

rofi.color-enabled: true

! Window:           'background',  'border', 'separator'
rofi.color-window: argb:cc202020,  #9575cd, argb:ffffffff

!   State:              'bg',       'fg',   'altbg',        'hlbg',         hlfg
rofi.color-normal: argb:00252936, #d5d5d5, argb:00252936, argb:003da4cc, #ff3da4cc
rofi.color-active: argb:00252936, #252936, argb:00252936, argb:003da4cc, #ffc000
rofi.color-urgent: argb:00252936, #ff0000, argb:00252936, argb:00252936, #ff0000

rofi.width: 100
rofi.padding: 500
rofi.line-margin: 15
rofi.lines: 8
rofi.separator-style: solid
rofi.columns: 1
rofi.bw: 0
rofi.eh: 1
rofi.hide-scrollbar: true
